<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top row">
  <div class="col-1"></div>
  <a class="navbar-brand" routerLink="/" style="color: white;">毕业选课系统</a>
  <div ngbDropdown class="col d-inline-block text-right" *ngIf="currentLoginRole != null">
    <button class="btn btn-dark" id="dropdownBasic" ngbDropdownToggle>个人</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic">
      <button class="dropdown-item" *ngIf="currentLoginRole != null && currentLoginRole !== 'admin'"
              (click)="setting()">设置
      </button>
      <hr *ngIf="currentLoginRole != null && currentLoginRole !== 'admin'">
      <button class="dropdown-item" (click)="loginOut()">退出</button>
    </div>
  </div>
  <div class="col-1"></div>
</nav>
